* {
    overflow-x: hidden;
}

bg {
    background-color: yellowgreen;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

ul {
    float: none;
    height: 8vh;
    list-style-type: none;
}

li {
    vertical-align: middle;
    text-align: center;
    height: 100%;
    min-width: 16vh;
    float: right;
}

li a {
    padding-top: 0vh;
    margin-top: 0vh;
    padding-top: 12%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: whitesmoke;
}

li a:hover {
    text-decoration: underline;
    text-underline-offset: 1em;
    text-decoration-thickness: 0.2em;
    color: #6ab04c;
}