@font-face {
    font-family: samim;
    src: url('../font/samim-font-v2.0.1/Samim.eot');
    src: url('../font/samim-font-v2.0.1/Samim.eot?#iefix') format('samim-opentype'),
         url('../font/samim-font-v2.0.1/Samim.woff') format('woff'),
         url('../font/samim-font-v2.0.1/Samim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }