body {
    background-color: rgba(25,25,25,1);
    direction: rtl;
    display: block;
    margin: 0;
    padding: 0;
}
.main-container {
    background-color: #d0ccff;
}

.my-home-card {
    width: 83.3%;
    text-align: right;
}