* {
    line-height: 2rem;
}

img {
    max-width: 700px;
}

ul {
    float: none;
    height: 8vh;
    list-style-type: none;
}

li {
    vertical-align: middle;
    text-align: center;
    height: 100%;
    min-width: 16vh;
    float: right;
}

li a {
    padding-top: 0vh;
    margin-top: 0vh;
    padding-top: 12%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: whitesmoke;
}

li a:hover {
    text-decoration: underline;
    text-underline-offset: 1em;
    text-decoration-thickness: 0.2em;
    color: #6ab04c;
}