{% load static %}
<!doctype html>
<html dir="rtl" lang="fa">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>درباره من</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about-me.css' %}">
</head>


<body>

    <div class="header-container">
        <div class="container header">
            <div class="container-fluid">
                <div class="container">
                    <h1 class="display-4 ">ئاکار</h1>
                    <p class="lead ">این سایت شخصی من است که درون این سایت محتویات امنیت سایبری مثل تحلیل انواع بدآفزار
                        وتست های
                        تفو‌ در اون قرارمیدم این سایت شخصرارمیدم.</p>
                    <hr>
                    <nav id="nav-bar">
                        <ul>
                            <li><a href="#">خانه</a></li>
                            <li><a href="#">درباره من</a></li>
                            <li><a href="#">وارد شوید</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    {% if request.user.is_authenticated %}
    <div class="container-fluid main-container">

        <div class="card" id="about-me-card">
            <div class="card post-card" style="width: 18rem;">
                <img class="card-img-top" src="../static/css/starwars.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Hi there I am {{ name }} my last name is {{ last_name }}
                        and you can contact me whit my Email address {{ Email }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="blockquote-footer footer">
        <p>this is footer of about me</p>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
        crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js "
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV "
        crossorigin="anonymous "></script>

</body>

</html>