{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include "bootstrap.html" %}

    <title>خانه</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

</head>

<body>
    <!-- TODO beautiful cv page -->
    <div class="containe">
        <p>برای دیدن روزمه روی <a href="https://cvbuilder.me/Resume/fa/8f8ae5cd-95d7-4d3a-8d2a-c632bd88e595?template=Template2"> لینک </a>کیلیک کنید</p>
    </div>

</body>

</html>