{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>card my orginal template</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/post-detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-samim.css' %}">
</head>

<body>


    <div class="main-box container">

        <h3> این اولین پست است </h3>
        <h6>نویسنده بنیامین</h6>
        <p>
            سه فرزند کم سن و سال یک خانواده ثروتمند (ویولت، کلاوس و سانی خردسال) بعد از آتش‌سوزی عمدی بزرگی که منشأ آن
            نامشخص است و منجر به کشته شدن پدر و مادرشان می‌شود به خانه کنت اُلاف به عنوان قَیم جدیدشان می‌روند. طبق
            قانون تا زمانی که بچه‌ها به سن قانونی نرسیده‌اند حق تصرف در اموالشان را ندارند. کنت اولاف که یک بازیگر سبک
            سر است رفتار بسیار نادرستی با بچه‌ها داشته و از آن‌ها شدیداً بیگاری می‌کشد و تنها دلیل قبول سرپرستی بچه‌ها
            توسط وی این است که ثروتشان را به چنگ آورد. وقتی قیمومت در دادگاه به صورت رسمی به کنت الاف داده می‌شود وی که
            اطلاع دقیقی از قوانین ارث و میراث و سرپرستی ندارد برای بدست آوردن ثروت کودکان سعی می‌کند آن‌ها را زیر قطار
            له کند (چنین چیزی در کتاب اصلی وجود ندارد و توسط نویسنده فیلم‌نامه به داستان فیلم اضافه شده‌است) اما بچه‌ها
            خود را نجات می‌دهند و با خوش‌شانسی (از آنجایی که آقای پو (بانکدار) بعد از عبور قطار سر رسیده و سانی را پشت
            فرمان می‌بیند و فکر می‌کند کنت اولاف به سانی اجازهٔ رانندگی کردن داده‌است) قیمومیت آن‌ها از کنت الاف گرفته
            می‌شود. کنت الاف در لحظهٔ جدایی از بچه‌ها، به آن‌ها می‌گوید که هر جا بروند سایه به سایه به دنبالشان خواهد
            آمد.

            سپس بودلرها به خانه مونتگمری مونتگمری (عمو مونتی) خزنده‌شناس معروف می‌روند. کلاوس متوجه می‌شود که عمو مونتی
            دوربینی دارد که قبلاً مشابهٔ آن را در وسایل پدر و مادرش نیز دیده‌است. مدتی بعد کنت الاف با چهرهٔ جدیدِ دکتر
            استفانو به عنوان دستیار عمو مونتی مشغول به کار می‌شود و وی را به قتل می‌رساند ولی توطئه‌اش در مورد دزدیدن
            بچه‌ها ناکام می‌ماند.

            بچه‌ها این بار به خانه عمه ژوزفین می‌روند. کلاوس در آلبوم خانوادگی عمه ژوزفین عکسی از پدر و مادر و
            فامیل‌هایشان از جمله عمو مونتی و عمه ژوزفین می‌بیند که در آن تمامی آن‌ها از همان دوربین مذکور یک عدد به
            همراه دارند. کلاوس در کمال تعجب جریان دوربین را از عمه ژوزفین می‌پرسد اما ژوزفین جواب درستی به وی نمی‌دهد.
            مدتی بعد کنت اولاف در قالب کاپیتان شام در بازار به سراغشان آمده و عمه ژوزفین که از وی خوشش آمده‌است او را به
            منزل می‌برد و از بچه‌ها می‌خواهد تا بعد از خرید تره بار مورد نیاز برای شام به منزل بیایند. بعد از مراجعهٔ
            بچه‌ها به منزل متوجه می‌شوند که کنت اولاف و عمه ژوزفین در خانه حضور ندارند. بعد از آن یک دست نوشتهٔ رمزنگاری
            شده را می‌یابند که با رمزگشایی از آن متوجه می‌شوند که عمه ژوزفین از دست کنت اولاف به غار کدلد (kedeled) فرار
            کرده‌است. در این هنگام خانه شروع به خراب شدن در قالب یک سری اتفاقات عجیب می‌کند که بودلرها با درایت، خود را
            نجات می‌دهند و برای نجات عمه ژوزفین راهی غار کدلد می‌شوند. باز با سر رسیدن کنت الاف، وی عمهٔ ژوزفین را در
            دریاچهٔ زالوها رها کرده و بچه‌ها را با خود می‌برد. اندکی بعد پاسبان و آقای پو (بانکدار) با یک قایق به آن‌ها
            نزدیک می‌شوند و کنت اولاف وانمود می‌کند که برای نجات بچه‌ها از دریاچهٔ زالوها به آنجا آمده‌است. آقای پو که
            از این اقدام به ظاهر خداپسندانهٔ کنت اولاف به وجد آمده‌است دوباره سرپرستی بودلرها را به وی واگذار می‌کند.

            مدتی بعد کنت اولاف که با مطالعهٔ قانون متوجه شده‌است تنها راه برای تصاحب ارثیهٔ بودلرها ازدواج با ویولت است،
            سانی را گروگان می‌گیرد تا ویولت را مجبور کند در یک نمایش با وی ازدواج کند تا بتواند وارثش شده و ثروت بودلرها
            را به چنگ آورد. نمایش به صورتی طراحی شده‌است که ازدواج وی با ویولت دقیقاً منطبق با واقعیت و قانون است. ویولت
            قبل از شروع نمایش به برادرش کلاوس می‌گوید که دیگر کنت اولاف در رسیدن به هدف خود موفق شده و هیچ راه فراری
            باقی نمانده‌است. اما کلاوس ایمان دارد که همیشه یک راه حل برای برون رفت از مشکلات وجود دارد…
        </p>

    </div>


    <div class="footer-box container">
        <p>
            مدتی بعد کنت اولاف که با مطالعهٔ قانون متوجه شده‌است تنها راه برای تصاحب ارثیهٔ بودلرها ازدواج با ویولت است،
            سانی را گروگان می‌گیرد تا ویولت را مجبور کند در یک نمایش با وی ازدواج کند تا بتواند وارثش شده و ثروت بودلرها
            را به چنگ آورد. نمایش به صورتی طراحی شده‌است که ازدواج وی با ویولت دقیقاً منطبق با واقعیت و قانون است. ویولت
            قبل از شروع نمایش به برادرش کلاوس می‌گوید که دیگر کنت اولاف در رسیدن به هدف خود موفق شده و هیچ راه فراری
            باقی نمانده‌است. اما کلاوس ایمان دارد که همیشه یک راه حل برای برون رفت 
        </p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
        crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js "
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV "
        crossorigin="anonymous "></script>
</body>

</html>